@charset 'UTF-8';
//Variables
// Color
$color-pri:#333;
$color-sec:#666;
$color-border: #EEE;
$color-link: #fff;

// Font
$font-pri: 'SF Pro Display';

html,
body {
    font-size: 16px;
    font-family: $font-pri; 
}

a {
    color: #1F88CE;
    font-size: 14px;
    text-decoration: none !important;
}

span {
    // color: #fff;
    color: var(--font-color);
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 12px;
    font-weight: 200;
}

h5 {
    font-size: 1.2rem;
}

h6 {
    font-size: 1rem;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
    padding: 0px;
}

ul {
    margin: 0px;
    padding: 0px;

    li {
        list-style: none;
      }
}

img {
    display: block;
    width: 100%;
    height: auto;
}

figure {
    margin: 0;
    padding: 0;
}

.clearfloat {
    &:after {
        display: table;
        content: '';
        clear: both;
    }
}

// Import
@import 'bootstrap.min.css';

@import '_head';
@import '_body';
@import '_foot';
@import '_responsive';